/* NAVBAR
-------------------------------------------------- */

.navbar {
  margin-bottom: 0;
  color: black;
}

.navbar-default .navbar-brand {
  color:black;
}

.photo {
  max-width: 250px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.photo-wide {
  max-width: 500px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* BIO */
.entry-content .col-md-4 {
  font-size: 14px;
  padding: 20px;
}
.entry-content .col-md-8 {
  font-size: 14px;
  padding: 20px;
}

.entry-content .col-md-6 {
  font-size: 14px;
  padding-top: 20px;
}

.text-center {
  padding-top: 5px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* .entry-content {
  border: 1px solid;
  border-color: black;
} */

.app-link {
  width: 200px;
  display: inline-block;
}

.app-link-apple {
  min-width: 180px;
  width: 180px;
  display: inline-block;
  padding: 10px;
}

.h3-top {
  border-top: 1px solid;
  padding-top: 15px;
}

/* MARKETING
-------------------------------------------------- */

.marketing {
  margin: 10px auto;
}

.marketing .col-md-4 {
  text-align: center;
  font-size: 14px;
}

.marketing .col-md-4 .icon-style {
  font-size: 60px;
  background-color: #EAEAEA;
  border-radius: 50%;
  padding: 40px;
  color: #A5A5AF;
}

.icon-background {
  /* color: #77C9D4; */
  color: #52658F;
}

.icon-color {
  color: #D9D9D9
}


/* STICKY FOOTER
-------------------------------------------------- */

html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 160px;
}

.footer,
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 120px;
  background: #535353;
  color: white;
  text-shadow: 1px 1px 1px black;
  padding: 20px 0;
}

/* RESPONSIVE CSS
-------------------------------------------------- */
